USE [master]
GO
/****** Object:  Database [taskmgr]    Script Date: 27.12.2023 22:45:28 ******/
CREATE DATABASE [taskmgr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taskmgr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\taskmgr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taskmgr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\taskmgr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taskmgr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taskmgr]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 27.12.2023 22:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [int] IDENTITY(1,1) NOT NULL,
	[NameStaff] [nvarchar](50) NOT NULL,
	[SurnameStaff] [nvarchar](50) NOT NULL,
	[MiddleNameStaff] [nvarchar](50) NOT NULL,
	[TaskStaff] [nvarchar](50) NOT NULL,
	[StatusTaskStaff] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[IdStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.12.2023 22:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[LoginUser] [nvarchar](50) NOT NULL,
	[PasswordUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([IdStaff], [NameStaff], [SurnameStaff], [MiddleNameStaff], [TaskStaff], [StatusTaskStaff]) VALUES (1, N'Владимир', N'Сидоренко', N'Михайлович', N'Создать отчёт', N'Выполняется')
INSERT [dbo].[Staff] ([IdStaff], [NameStaff], [SurnameStaff], [MiddleNameStaff], [TaskStaff], [StatusTaskStaff]) VALUES (2, N'fds', N'fsd', N'fsd', N'fsd', N'fds')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [LoginUser], [PasswordUser]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[User] ([IdUser], [LoginUser], [PasswordUser]) VALUES (2, N'staff', N'staff')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
